@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

:root {
  --font01: 'Outfit', sans-serif;
  --font02: 'Young Serif', serif;

  --cor01: hsl(0, 0%, 100%);

  --cor02: hsl(30, 54%, 90%);
  --cor03: hsl(30, 18%, 87%);
  --cor04: hsl(30, 10%, 34%);
  --cor05: hsl(24, 5%, 18%);

  --cor06: hsl(14, 45%, 36%);

  --cor07: hsl(332, 51%, 32%);
  --cor08: hsl(330, 100%, 98%);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor02);
  height: 100vh;
  margin: 100px;
}

main {
  max-width: 90%;
  width: 450px;
  margin: auto;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 50px;
}

img {
  width: 450px;
  height: auto;
  border-radius: 15px;
}

h1, h2, h3 {
  font-family: var(--font02);
  font-weight: 400;
}

p, li {
  font-family: var(--font01);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
